<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= assigns[:page_title] || "Starbound Items" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47315066-1', 'starbounditems.herokuapp.com');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
    <div id="wrap">
      <header>
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://starbounditems.herokuapp.com">Starbound Items</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/generator">Generator <sup><em>beta</em></sup></a></li>
                <li><a href="/all">All Items</a></li>
                <li><a href="/tags">Colony Tags</a></li>
                <!-- <li><a href="/new">New Items</a></li> -->
                <li><a href="/stats">Stats</a></li>
                <li><a href="https://github.com/MarceloAlves/StarboundItems/issues">Feedback</a></li>
                <li><a href="https://github.com/MarceloAlves/StarboundItems"><i class="fa fa-github fa-2x"></i></a></li>
              </ul>
            </div>
        </div>
      </header>

      <div class="row" style="margin-bottom: 20px">
        <div class="col-md-12 text-center">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Starbound -->
          <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-6016970971656505"
            data-ad-slot="7016086730"
            data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>

      <div class="container">

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>

      </div> <!-- /container -->

    </div> <!-- /wrap -->

    <div id="footer">
      <div class="container">
        <div class="col-md-8">
          <p class="text-muted pull-left">Game content and materials are trademarks and copyrights of their respective publisher and its licensors. All rights reserved.</p>
        </div>

        <div class="col-md-4">
          <p class="text-muted pull-right">Database Last Updated: December 14 2017</p>
        </div>
      </div>
    </div> <!-- /footer -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
