<div id="footer">
  <div class="container">
    <div class="col-md-8">
      <p class="text-muted pull-left">Game content and materials are trademarks and copyrights of their respective publisher and its licensors. All rights reserved.</p>
    </div>

    <div class="col-md-4">
      <p class="text-muted pull-right">Database Last Updated: August 25 2015</p>
    </div>
  </div>
</div>
