<div id="footer">
  <div class="container">
      <p class="text-muted pull-left">Game content and materials are trademarks and copyrights of their respective publisher and its licensors. All rights reserved.</p>
      <p class="text-muted pull-right">Database Last Updated: July 18 2015 - <a href="https://github.com/MarceloAlves/StarboundItems/issues">Feedback</a></p>
  </div>
</div>
