<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <p class="text-muted pull-left">Game content and materials are trademarks and copyrights of their respective publisher and its licensors. All rights reserved.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <p class="text-muted pull-right">Database Last Updated: July 18 2015</p>
      </div>
    </div>
  </div>
</div>
