<div class="row">
  <div class="col-md-12 text-center">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Starbound -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-6016970971656505"
           data-ad-slot="7016086730"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
</div>

<div id="footer">
  <div class="container">
    <div class="col-md-8">
      <p class="text-muted pull-left">Game content and materials are trademarks and copyrights of their respective publisher and its licensors. All rights reserved.</p>
    </div>

    <div class="col-md-4">
      <p class="text-muted pull-right">Database Last Updated: July 23 2016</p>
    </div>
  </div>
</div>
