<div id="footer">
  <div class="container">
    <div class="col-md-8">
      <p class="text-muted pull-left">Game content and materials are trademarks and copyrights of their respective publisher and its licensors. All rights reserved.</p>
    </div>

    <div class="col-md-3">
    <p class="text-muted pull-right">Database Last Updated: July 18 2015</p>

    </div>
    <div class="col-md-1" style="padding-top:10px">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="U28XW4CZCPK3U">
        <input type="submit" class="btn btn-default" border="0" name="submit" value="Donate">
      </form>
    </div>
  </div>
</div>
