<!doctype html>
<html ng-app="starboundItems">
  <head>
    <%= erb :header %>
  </head>
  <body ng-controller="itemlistCtrl">
    <div id="wrap">
      <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://starbounditems.herokuapp.com">Starbound Items</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/all">All Items</a></li>
              <li><a href="/tags">Colony Tags</a></li>
              <li><a href="/new">New Items</a></li>
              <li><a href="/stats">Stats</a></li>
              <li><a href="https://github.com/MarceloAlves/StarboundItems/issues">Feedback</a></li>
              <li><a href="https://github.com/MarceloAlves/StarboundItems"><i class="fa fa-github fa-2x"></i></a></li>
            </ul>
          </div>
      </div>
      <div class="container">
        <div class="well well-sm">
          <div class="col-md-12">
            <input type="text" ng-model="searchText" ng-change="change(text)" ng-model-options="{debounce: 1000}" class="form-control input-lg" placeholder="Start Typing... (Examples: dirtmaterial, tomatojuice, sandstonetorch)" autofocus>
          </div>
          <div class="clearfix"></div>
        </div>

        <div ng-hide="searchText && searchText.length >= 2">
          <div class="row">
            <div class="col-md-4">
              <div class="well">
                <h4>What is this?</h4>
                <p>This website allows you to search for items in the game Starbound. Using the <code>/spawnitem</code> command, you can generate an item in-game. Learn more about <a href="http://starbounder.org/Commands" target="_blank">in-game commands</a>.</p>
                <p>Feel free to submit any feedback or suggestions on <a href="https://github.com/marceloalves/starbounditems/issues" target="_blank">Github</a>.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="well">
                <h4>What's changed recently?</h4>
                <ul>
                  <li>Pleased Giraffe items added to database</li>
                  <li>Page for colony <a href="/tags">tags</a> added</li>
                  <li>Starbounder.org Wiki integration</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="well">
                <h4>How can I support this?</h4>
                <p>This site is supported by ads to keep the server going. If you'd like to contribute to the site please visit the <a href="https://github.com/MarceloAlves/StarboundItems">GitHub Repo</a>.</p>
                <!-- <div class="text-center" style="padding-top:10px">
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="U28XW4CZCPK3U">
                    <input type="submit" class="btn btn-success" border="0" name="submit" value="Donate" onClick="ga('send', 'event', { eventCategory: 'donation', eventAction: 'submit button', eventLabel: 'click'});">
                  </form>
                </div> -->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h1>Live Searches</h1>
              <div class="well well-sm">
                <p class="live-search"></p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Starbound -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-6016970971656505"
                     data-ad-slot="7016086730"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
          </div>
        </div>

        <table class="table table-striped table-bordered" ng-show="searchText && searchText.length >= 2">
            <thead>
              <tr>
                <th>Icon</th>
                <th>Item ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Rarity</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in entries | orderBy:'itemName'">
                  <td><img ng-show="item.inventoryIcon" src="/images/{{ item.inventoryIcon }}" height="20"></td>
                  <td>{{ item.itemName }}</td>
                  <td><a href="{{ item.wiki_url }}" target="_blank" onClick="ga('send', 'event', 'items', 'wiki_link', 'click');"><b>{{ item.shortdescription }}</b></a></td>
                  <td>{{ item.description }}</td>
                  <td class="{{ item.rarity | lowercase}}"><span class="item-rarity">{{ item.rarity }}</span></td>
                  <td><span class="item-type">{{ item.type }}</span></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <%= erb :footer %>

    <script>
      $(document).ready(function(){
        var myFirebaseRef = new Firebase("https://starbounditems.firebaseio.com/");
        myFirebaseRef.child('current_search').on('value', function(dealio){
          $('.live-search').fadeOut('fast', function(){
            $('.live-search').text(dealio.val());
          });
          $('.live-search').fadeIn('slow');
        });
      });
    </script>
  </body>
  </html>
