<!doctype html>
<html ng-app="starboundItems">
  <head>
    <%= erb :header %>
  </head>
  <body ng-controller="itemlistCtrl">
    <div id="wrap">
      <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://starbounditems.herokuapp.com">Starbound Items</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/all">All Items</a></li>
              <li><a href="/tags">Colony Tags</a></li>
              <li><a href="/stats">Stats</a></li>
              <li><a href="https://github.com/MarceloAlves/StarboundItems/issues">Feedback</a></li>
              <li><a href="https://github.com/MarceloAlves/StarboundItems"><i class="fa fa-github fa-2x"></i></a></li>
            </ul>
          </div>
      </div>
      <div class="container">
        <div class="well well-sm">
          <div class="col-md-12">
            <input type="text" ng-model="searchText" ng-change="change(text)" ng-model-options="{debounce: 1000}" class="form-control input-lg" placeholder="Start Typing... (Examples: dirtmaterial, tomatojuice, sandstonetorch)" autofocus>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="well" ng-hide="searchText && searchText.length >= 2">
          <p>Hey There! Just wanted to take a quick moment and highlight some changes to the site.</p>
          <p>I've added a <a href="/tags">colony tags</a> page in preparation for the latest update. If you don't know about tags you can read about it on the <a href="http://playstarbound.com/colonies-and-endgame/" target="_blank">Starbound blog</a>.</p>
          <p>I'm currently working on linking items to wiki pages on <a href="http://starbounder.org">Starbounder</a>. That way if you want to know more information about an item it's easy to get to.</p>
          <p>Lastly, recently Heroku changed their pricing so that free tiers must sleep at least 6 hours a day. Because the website has visitors all day long, that won't work. I've upgraded to a paid tier and put a donate button down there at the bottom of the page. If you can spare anything and found this site useful please consider donating a small amount to keep it going.</p>
          <p>If you have some feedback or want to help out but don't know where to start, feel free to shoot me a message on the <a href="http://community.playstarbound.com/members/marshin.282788/" target="_blank">Starbound Forums</a> or put in a <a href="https://github.com/MarceloAlves/StarboundItems/issues">GitHub Issue</a>.</p>
          <p>Thanks!</p>
        </div>

        <table class="table table-striped table-bordered" ng-show="searchText && searchText.length >= 2">
            <thead>
              <tr>
                <th>Icon</th>
                <th>Item</th>
                <th>Name</th>
                <th>Description</th>
                <th>Rarity</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in entries | orderBy:'itemName'">
                  <td><img ng-show="item.inventoryIcon" src="/images/{{ item.inventoryIcon }}" height="20"></td>
                  <td>{{ item.itemName }}</td>
                  <td>{{ item.shortdescription }}</td>
                  <td>{{ item.description }}</td>
                  <td class="{{ item.rarity | lowercase}}"><span class="item-rarity">{{ item.rarity }}</span></td>
                  <td><span class="item-type">{{ item.type }}</span></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <%= erb :footer %>
  </body>
  </html>
