<!doctype html>
<html ng-app="starboundItems">
  <head>
    <title>Starbound Items</title>
    <meta name="description" content="Searchable list of items in Starbound" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.5/angular.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.13/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/itemlistctrl.js"></script>
  </head>
  <body ng-controller="itemlistCtrl">
    <div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Feedback</h4>
          </div>
          <div class="modal-body">
            <iframe src="https://docs.google.com/forms/d/1Za2tQDc1afgVzwKudysWfIc9Qd52hBOZB40WLm-mYqs/viewform?embedded=true" width="550" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="wrap">
      <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://starbounditems.herokuapp.com">Starbound Items</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://github.com/MarceloAlves/StarboundItems"><i class="fa fa-github fa-2x"></i></a></li>
            </ul>
          </div>
      </div>
      <div class="container">
        <div class="well well-sm">
          <div class="input-group">
            <input type="text" ng-model="searchText" ng-change="change(text)" ng-model-options="{debounce: 250}" class="form-control input-lg" placeholder="Start Typing..." autofocus>
            <span class="input-group-btn">
              <button class="btn btn-primary btn-lg" type="button"><i class="fa fa-search fa-lg"></i></button>
            </span>
          </div>
          
          <div class="clearfix"></div>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>ItemName</th>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in entries | orderBy:'itemName'">
                  <td>{{ item.itemName }}</td>
                  <td>{{ item.shortdescription }}</td>
                  <td>{{ item.description }}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div id="footer">
      <div class="container">
          <p class="text-muted pull-left">Game content and materials are trademarks and copyrights of their respective publisher and its licensors. All rights reserved.</p>
          <p class="text-muted pull-right">Last Updated: Aug 7th 2014 - <a href="#" data-toggle="modal" data-target="#feedback-modal">Feedback</a></p>
      </div>
    </div>
  </body>
  </html>