<!doctype html>
<html ng-app="starboundItems">
  <head>
    <%= erb :header %>
  </head>
  <body ng-controller="tagsCtrl">
    <div id="wrap">
      <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://starbounditems.herokuapp.com">Starbound Items</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/all">All Items</a></li>
              <li class="active"><a href="/tags">Colony Tags</a></li>
              <li><a href="/stats">Stats</a></li>
              <li><a href="https://github.com/MarceloAlves/StarboundItems/issues">Feedback</a></li>
              <li><a href="https://github.com/MarceloAlves/StarboundItems"><i class="fa fa-github fa-2x"></i></a></li>
            </ul>
          </div>
      </div>
      <div class="container">
        <div class="well well-sm">
          <div class="col-md-12">
            <p>Use dropdown to select tag:</p>
            <select ng-model="tagSelect" ng-change="selectAction()" class="form-control">
              <option value="agaran">agaran</option>
              <option value="alien">alien</option>
              <option value="alpaca">alpaca</option>
              <option value="alpine">alpine</option>
              <option value="ancient">ancient</option>
              <option value="apex">apex</option>
              <option value="apexmansion">apexmansion</option>
              <option value="apexresearchlab">apexresearchlab</option>
              <option value="apexvillage">apexvillage</option>
              <option value="astronaut">astronaut</option>
              <option value="avian">avian</option>
              <option value="avianairship">avianairship</option>
              <option value="aviantemple">aviantemple</option>
              <option value="aviantomb">aviantomb</option>
              <option value="avianvillage">avianvillage</option>
              <option value="bioluminescence">bioluminescence</option>
              <option value="bone">bone</option>
              <option value="cabin">cabin</option>
              <option value="cell">cell</option>
              <option value="christmas">christmas</option>
              <option value="colourful">colourful</option>
              <option value="combat">combat</option>
              <option value="commerce">commerce</option>
              <option value="cooking">cooking</option>
              <option value="copper">copper</option>
              <option value="coral">coral</option>
              <option value="crafting">crafting</option>
              <option value="crystalline">crystalline</option>
              <option value="door">door</option>
              <option value="electronic">electronic</option>
              <option value="evil">evil</option>
              <option value="explorer">explorer</option>
              <option value="eyepatch">eyepatch</option>
              <option value="farm">farm</option>
              <option value="flesh">flesh</option>
              <option value="floran">floran</option>
              <option value="floranhuntinggrounds">floranhuntinggrounds</option>
              <option value="floranprison">floranprison</option>
              <option value="floranvillage">floranvillage</option>
              <option value="frozenfire">frozenfire</option>
              <option value="geometric">geometric</option>
              <option value="giantflower">giantflower</option>
              <option value="glitch">glitch</option>
              <option value="glitchcastle">glitchcastle</option>
              <option value="glitchsewer">glitchsewer</option>
              <option value="glitchvillage">glitchvillage</option>
              <option value="gnome">gnome</option>
              <option value="gothic">gothic</option>
              <option value="heck">heck</option>
              <option value="hive">hive</option>
              <option value="hoard">hoard</option>
              <option value="human">human</option>
              <option value="humanbunker">humanbunker</option>
              <option value="humanprison">humanprison</option>
              <option value="humanvillage">humanvillage</option>
              <option value="hylotl">hylotl</option>
              <option value="hylotloceancity">hylotloceancity</option>
              <option value="hylotlvillage">hylotlvillage</option>
              <option value="ice">ice</option>
              <option value="island">island</option>
              <option value="jungle">jungle</option>
              <option value="knowledge">knowledge</option>
              <option value="light">light</option>
              <option value="lunarbase">lunarbase</option>
              <option value="mechanical">mechanical</option>
              <option value="mining">mining</option>
              <option value="misc">misc</option>
              <option value="mushroompatch">mushroompatch</option>
              <option value="musical">musical</option>
              <option value="naturalcave">naturalcave</option>
              <option value="nature">nature</option>
              <option value="novakid">novakid</option>
              <option value="oasis">oasis</option>
              <option value="ocean">ocean</option>
              <option value="odd">odd</option>
              <option value="outdoor">outdoor</option>
              <option value="outpost">outpost</option>
              <option value="pretty">pretty</option>
              <option value="retroscifi">retroscifi</option>
              <option value="rust">rust</option>
              <option value="saloon">saloon</option>
              <option value="sandstone">sandstone</option>
              <option value="science">science</option>
              <option value="sea">sea</option>
              <option value="slime">slime</option>
              <option value="spooky">spooky</option>
              <option value="spring">spring</option>
              <option value="steampunk">steampunk</option>
              <option value="stonecave">stonecave</option>
              <option value="storage">storage</option>
              <option value="swamp">swamp</option>
              <option value="tar">tar</option>
              <option value="tier1">tier1</option>
              <option value="tier10">tier10</option>
              <option value="tier2">tier2</option>
              <option value="tier3">tier3</option>
              <option value="tier4">tier4</option>
              <option value="tier5">tier5</option>
              <option value="tier6">tier6</option>
              <option value="tier7">tier7</option>
              <option value="tier8">tier8</option>
              <option value="tier9">tier9</option>
              <option value="toxic">toxic</option>
              <option value="traveller">traveller</option>
              <option value="valentines">valentines</option>
              <option value="valuable">valuable</option>
              <option value="wired">wired</option>
              <option value="wreck">wreck</option>
              <option value="zen">zen</option>
            </select>
          </div>
          <div class="clearfix"></div>
        </div>
        <table class="table table-striped table-bordered" ng-show="tagSelect">
            <thead>
              <tr>
                <th>Icon</th>
                <th>Item ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Rarity</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in entries | orderBy:'itemName'">
                  <td><img ng-show="item.inventoryIcon" src="/images/{{ item.inventoryIcon }}" height="20"></td>
                  <td>{{ item.itemName }}</td>
                  <td><a href="{{ item.wiki_url }}" target="_blank" onClick="ga('send', 'event', 'items', 'wiki_link', 'click');"><b>{{ item.shortdescription }}</b></a></td>
                  <td>{{ item.description }}</td>
                  <td class="{{ item.rarity | lowercase}}"><span class="item-rarity">{{ item.rarity }}</span></td>
                  <td><span class="item-type">{{ item.type }}</span></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <%= erb :footer %>
  </body>
  </html>
